// COLORS
$black-light: #000;
$black-dark: #d1d1d1;
$blue: #00d5ed;
$green: #60d600;
$orange: #ff8000;
$pink: #f40083;
$red: #e0043f;
$violet: #9f00ff;
$yellow: #ffae00;
$brown: #D2691E;

// TOP-MENU-BAR
$top-menu-bar-bg-color: #151b21;
$top-menu-bar-text-color: #ccc;
$top-menu-bar-text-color-hover: #fff;
$top-menu-bar-link-active-bar-hover: #25c2f5;

// SOCIAL TOP
$social-top-bg: #151B21;
$social-top-fa-bg: #23282D;
$social-top-fa-color: #666;
$social-top-fa-border: #181B1E;

$social-top-fa-rss: #f60;
$social-top-fa-vimeo: #45bbff;
$social-top-fa-youtube: #b00;
$social-top-fa-twitch: #6542a6;
$social-top-fa-steam: #fff;
$social-top-fa-pinterest: #cb2027;
$social-top-fa-tumblr: #2c4762;
$social-top-fa-instagram:#f40083;
$social-top-fa-twitter:#55ACEE;
$social-top-fa-facebook:#3B5998;

// NAVBAR TRIANGLES
$navbar-triangle-color-light: #f8f9fa;
$navbar-triangle-color-dark: #1b1f23;

// NEWSBAR
$newsbar-bg: #23282D;
$newsbar-ticker-title-color: #fff;
$newsbar-bullhorn-color: #fff;

// TITLE & BREADCUMS
$title-color: #fff;
$breadcums-color: #fff;
$breadcums-active-color: #25c2f5;

// MAIN
$main-bg-color-light: #fbfbfb;
$main-bg-color-dark: #1b1f23;
$main-title-color: #25c2f5;
$main-title-color-hover-light: #666;
$main-title-color-hover-dark: #ddd;
$main-tab-color: #333;
$main-bg-dark: #1b1f23;

// POST-BODY
$post-body-bg-color: #fff;
$post-body-border-color: rgba(0, 0, 0, .125);
$post-body-txt-color: #666;
$post-body-link-color: #25c2f5;
$post-body-link-color-hover-light: #666;
$post-body-link-color-hover-dark: #fff;
$post-body-blockquote-txt-color: #888;
$post-author-link-color: #25c2f5;
$post-author-link-color-hover-light: #666;
$post-author-link-color-hover-dark: #fff;
$post-body-spotify-link-color: #1DB954;

$post-labels-link-border-color-light: #eee;
$post-labels-link-border-color-dark: #171a1d;
$post-labels-link-txt-color-light: #666;
$post-labels-link-txt-color-dark: #bbbcbe;
$post-labels-link-bg-color-light: #fbfbfb;
$post-labels-link-bg-color-dark: #181b1e;
$post-labels-link-bg-color-hover: #25c2f5;
$post-labels-link-txt-color-hover: #fff;

$post-review-bg-color-light: #fbfbfb;
$post-review-bg-color-dark: #262a2d;
$post-review-bdr-color-light: #eaeaea;
$post-review-bdr-color-dark: #4e4e4e;

// POST INFO
$post-info-txt-color-light: #999;
$post-info-txt-color-dark: #666;

// SIDEBAR
$soc-icon-da: #00e59b;
$soc-icon-rss: #fb7629;
$soc-icon-snapchat: #FFFC00;
$soc-icon-youtube: #d62422;
$soc-icon-dribbble: #f26798;
$soc-icon-twitter: #3cf;
$soc-icon-vimeo: #1ab7ea;
$soc-icon-facebook: #39599f;
$soc-icon-twitch: #6542a6;
$soc-icon-steam: #000;
$soc-icon-dailymotion: #232323;
$soc-icon-instagram: #f40083;
$soc-icon-spotify: #1DB954;
$soc-icon-discord: #5662f6;
$soc-icon-tiktok: #fff;
$soc-icon-tiktok-txt: #000 !important;

// FOOTER
$footer-bg-color: #23282D;

// FOOTER MENU
$footer-menu-bg-color: #131517;
$footer-menu-link-color: #25c2f5;

// DUNKEL COLORS
$dunkel-border-color: #000;
$dunkel-bg-color: #212528;
$dunkel-hd-txt-color: #fff;
$dunkel-card-bg-color: #181B1E;
$dunkel-card-text-color: #ccc;

// CARD [GLOBAL]
$card-bg-color-light: #fff;
$card-bg-color-dark: #1f2327;
$card-txt-color-light: #666;
$card-txt-color-dark: #bbbcbe;

:root {
    --black: #{$black-light};
    --navbar-triangle-color: #{$navbar-triangle-color-light};
    --main-bg-color: #{$main-bg-color-light};
    --card-bg-color: #{$card-bg-color-light};
    --card-txt-color: #{$card-txt-color-light};
    --post-review-bg-color: #{$post-review-bg-color-light};
    --post-review-bdr-color: #{$post-review-bdr-color-light};
    --post-info-txt-color: #{$post-info-txt-color-light};
    --main-title-color-hover: #{$main-title-color-hover-light};
    --post-labels-link-border-color: #{$post-labels-link-border-color-light};
    --post-labels-link-bg-color: #{$post-labels-link-bg-color-light};
    --post-labels-link-txt-color: #{$post-labels-link-txt-color-light};
    --post-body-link-color-hover: #{$post-body-link-color-hover-light};
    --post-author-link-color-hover: #{$post-author-link-color-hover-light};
}
.dark-mode {
    --black: #{$black-dark};
    --navbar-triangle-color: #{$navbar-triangle-color-dark};
    --main-bg-color: #{$main-bg-color-dark};
    --card-bg-color: #{$card-bg-color-dark};
    --card-txt-color: #{$card-txt-color-dark};
    --post-review-bg-color: #{$post-review-bg-color-dark};
    --post-review-bdr-color: #{$post-review-bdr-color-dark};
    --post-info-txt-color: #{$post-info-txt-color-dark};
    --main-title-color-hover: #{$main-title-color-hover-dark};
    --post-labels-link-border-color: #{$post-labels-link-border-color-dark};
    --post-labels-link-bg-color: #{$post-labels-link-bg-color-dark};
    --post-labels-link-txt-color: #{$post-labels-link-txt-color-dark};
    --post-body-link-color-hover:#{$post-body-link-color-hover-dark};
    --post-author-link-color-hover: #{$post-author-link-color-hover-dark};
}