// COLORS
$blue: #00d5ed;
$green: #60d600;
$orange: #ff8000;
$pink: #f40083;
$red: #e0043f;
$violet: #9f00ff;
$yellow: #ffae00;

// TOP-MENU-BAR
$top-menu-bar-bg-color: #151b21;
$top-menu-bar-text-color: #ccc;
$top-menu-bar-text-color-hover: #fff;
$top-menu-bar-link-active-bar-hover: #25c2f5;

// SOCIAL TOP
$social-top-bg: #151B21;
$social-top-fa-bg: #23282D;
$social-top-fa-color: #666;
$social-top-fa-border: #181B1E;

$social-top-fa-rss: #f60;
$social-top-fa-vimeo: #45bbff;
$social-top-fa-youtube: #b00;
$social-top-fa-twitch: #6542a6;
$social-top-fa-steam: #fff;
$social-top-fa-pinterest: #cb2027;
$social-top-fa-tumblr: #2c4762;
$social-top-fa-instagram:#f40083;
$social-top-fa-twitter:#55ACEE;
$social-top-fa-facebook:#3B5998;

// NAVBAR TRIANGLES
$navbar-triangle-color: #f8f9fa;

// NEWSBAR
$newsbar-bg: #23282D;
$newsbar-ticker-title-color: #fff;
$newsbar-bullhorn-color: #fff;

// TITLE & BREADCUMS
$title-color: #fff;
$breadcums-color: #fff;
$breadcums-active-color: #25c2f5;

// MAIN
$main-bg-color: #fbfbfb;
$main-title-color: #25c2f5;
$main-title-color-hover: #666;
$main-tab-color: #333;

// POST-BODY
$post-body-bg-color: #fff;
$post-body-border-color: #eaeaea;
$post-body-txt-color: #666;
$post-body-link-color: #25c2f5;
$post-body-link-color-hover: #666;
$post-body-blockquote-txt-color: #888;
$post-author-link-color: #25c2f5;
$post-author-link-color-hover: #666;
$post-body-spotify-link-color: #1DB954;

$post-labels-link-border-color: #eee;
$post-labels-link-txt-color: #666;
$post-labels-link-bg-color: #fbfbfb;
$post-labels-link-bg-color-hover: #25c2f5;
$post-labels-link-txt-color-hover: #fff;

// SIDEBAR
$soc-icon-da: #00e59b;
$soc-icon-rss: #fb7629;
$soc-icon-snapchat: #FFFC00;
$soc-icon-youtube: #d62422;
$soc-icon-dribbble: #f26798;
$soc-icon-twitter: #3cf;
$soc-icon-vimeo: #1ab7ea;
$soc-icon-facebook: #39599f;
$soc-icon-twitch: #6542a6;
$soc-icon-steam: #000;
$soc-icon-dailymotion: #232323;
$soc-icon-instagram: #f40083;
$soc-icon-spotify: #1DB954;
$left-thumb-header-bg-color: #fff;

// FOOTER
$footer-bg-color: #23282D;

// FOOTER MENU
$footer-menu-bg-color: #131517;
$footer-menu-link-color: #25c2f5;

// DUNKEL COLORS
$dunkel-border-color: #000;
$dunkel-bg-color: #212528;
$dunkel-hd-txt-color: #fff;
$dunkel-card-bg-color: #181B1E;
$dunkel-card-text-color: #ccc;