// +-----------+
// | L O C A L |
// +-----------+
// $body-background-url: '/images/banner.jpg';
// $pattern-url: '/images/pattern.png';
// $t-pattern-url: '/images/tpattern.png';
// $t-pattern-inv-url: '/images/tpattern-inv.png';
$body-background-url: 'https://1.bp.blogspot.com/-HJiKytvdoTA/XoacXQYp4jI/AAAAAAAABhM/9LSzq8J6QOI0xbHmZykjgZZee0BZarUQACLcBGAsYHQ/s1600/banner.jpg';
$pattern-url: 'https://1.bp.blogspot.com/-L6dkn6V3noM/XoabD6XRMtI/AAAAAAAABgo/7w0PjZH3Eb03_V58qChsaJ2SO4jTAgZpgCLcBGAsYHQ/s1600/pattern.png';
$t-pattern-url: 'https://1.bp.blogspot.com/-7-mVAutC3M4/XoabmWfyL_I/AAAAAAAABgw/iO-JSBhHIfAxVc58YO-9lQNhnVmbRf1uACLcBGAsYHQ/s1600/tpattern.png';
$t-pattern-inv-url: 'https://1.bp.blogspot.com/-G_MVP0t9PHc/Xoab66xXU9I/AAAAAAAABg4/znyX2kT9KyEO9AF9wKVotsIztYJzSBLzgCLcBGAsYHQ/s1600/tpattern-inv.png';