.post-body {
    width: 100%;
    padding: 1rem 1.5rem;
    background: $post-body-bg-color;
    border: 1px solid $post-body-border-color;
    font-size: .95em;
    color: $post-body-txt-color;
    a {
        color: $post-body-link-color;
        text-decoration: none;
        &:hover {
            color: $post-body-link-color-hover;
        }
    }
    a.spotify {
        color: $post-body-spotify-link-color;
        i {
            margin-right: .2rem;
        }
    }
    blockquote {
        padding: .5rem 0 .5rem 1rem;
        font-style: italic;
        border-left: 1px solid $post-body-border-color;
        letter-spacing: .07rem;
        color: $post-body-blockquote-txt-color;
    }
    dl {
        width: 100%;
        dt {
            font-weight: bold;
        }
        dd {
            margin-bottom: 1rem;
            border-bottom: 1px solid $post-body-border-color;
        }
    }
    h2 {
        font-size: 1.8em;
    }
    img {
        max-width: 100% !important;
    }
    p {
        text-align: justify;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 1rem;
        clear: both;
    }
    .cover {
        float: left;
        max-width: 100%;
        margin-bottom: 1rem;
    }
    .post-review {
        width: 100%;
        margin: 0 0 2rem;
    }
    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
        margin-bottom: 1rem;
        clear: both;
    }    
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }    
}
.author {
    flex-direction: row;
    border-top: 0;
    margin-bottom: 2rem;
    @include radius(0);
    > .card-header {
        border: 0;
        background-color: transparent;
        img {
            width: 5rem;
            @include radius(50%);
        }
        @include only-xs {
            width: 36%;
        }
        @include only-sm {
            width: 24%;
        }
        @include only-md {
            width: 18%;
        }
        @include only-lg {
            width: 20%;
        }
    }
    > .card-block {
        padding: .5rem;
        > a.card-title {
            text-decoration: none;
            color: $post-author-link-color;
            &:hover {
                color: $post-author-link-color-hover;
            }
        }
        @include only-xs {
            width: 62%;
        }
        @include only-sm {
            width: 76%;
        }
        @include only-md {
            width: 80%
        }
        @include only-lg {
            width: 80%
        }
    }
}
.post-labels {
    a {
        text-decoration: none;
        border: 1px solid $post-labels-link-border-color;
        font-style: normal;
        font-size: .750em;
        font-weight: 700;
        padding: .3rem .7rem;
        margin-bottom: 1rem;
        display: inline-block;
        color: $post-labels-link-txt-color;
        background: $post-labels-link-bg-color;
        @include radius(5px);
        &:hover {
            background-color: $post-labels-link-bg-color-hover;
            color: $post-labels-link-txt-color-hover;
        }
    }
}