.sidebar {
    .container {
        margin-bottom: 2rem;        
    }
}
.soc-icons {
    margin: auto auto 2rem;
    float: left;
    padding: 0 0 0 .2rem;
    a {
        padding: 1rem;
        margin: 0.2rem 0 0 0.3rem;
        color: white;
        font-size: 2em;
        text-align: center;
        width: 4rem;
    }
    &-da { background-color: $soc-icon-da; }
    &-rss { background-color: $soc-icon-rss; }    
    &-youtube { background-color: $soc-icon-youtube; }
    &-dribbble { background-color: $soc-icon-dribbble; }
    &-twitter { background-color: $soc-icon-twitter; }
    &-vimeo { background-color: $soc-icon-vimeo; }
    &-facebook { background-color: $soc-icon-facebook; }
    &-twitch { background-color: $soc-icon-twitch; }
    &-steam { background-color: $soc-icon-steam; }
    &-dailymotion { background-color: $soc-icon-dailymotion; }
    &-instagram { background-color: $soc-icon-instagram; }
    &-spotify { background-color: $soc-icon-spotify; }
    &-discord { background-color: $soc-icon-discord; }
    &-snapchat {
        background-color: $soc-icon-snapchat;
        text-shadow:  0 0 1px black;
    }
}
.video-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
.uberlangerung {
    padding-right: 0;
    padding-left: 0;
    .card {
        background: none;
        .card-img {
            max-height: 9rem;
            object-fit: cover;
        }          
        .card-img-overlay {
            text-shadow: 0px 5px 4px rgba(0, 0, 0, 1);
            .card-title {
                text-align: center;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                font-size: 1.3em;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
            .card-text {
                display: inherit;
                text-align: center;
                position: relative;
                z-index: 1;
            }
            &::before {
                content: '';
                background: url($pattern-url) top left repeat rgba(0,156,255,0.4);
                display: block;
                position: absolute;
                width: 100%;
                height: 9rem;
                opacity: 0.8;
                top: 0;
                left: 0;
                @include transition(all, .5s, ease);
            }
            &:hover {
                &::before {
                    opacity: 0;            
                }
            }
        }
    }
}
.left-thumb {
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 0;
    margin-bottom: .25em;
    .card-header {
        background-color: var(--card-bg-color);
        img {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
        }        
    }
    .sterren {
        position: absolute;
        font-size: 0.8em;
        left: .5rem;
        background: rgba(0, 0, 0, 0.5);
        padding: .2rem .4rem;
        top: 5rem;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
    }
    .card-block {
        padding: .5rem 0;
        .card-title {
            display: table;
            color: var(--main-title-color-hover);
            font-size: 0.875em;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                color: $main-title-color;
            }
        }                
        @include only-xs {
            width: 60%;
        }
        @include only-lg {
            width: 60%;
        }
    }
    .card-text {
        a {
            margin-right: .3rem;
            text-decoration: none;
            color: $main-title-color;
            &:hover {
                color: var(--main-title-color-hover);
            }
        }
    }
    &-dunkel {
        border-color: $dunkel-border-color;
        background-color: $dunkel-card-bg-color;
        .card-header {
            background-color: $dunkel-card-bg-color;
        }
        .card-block {
            .card-title {
                color: $dunkel-card-text-color;
                a {
                    color: $dunkel-card-text-color;
                }
            }
        }
    }
}